doctype html
html
  head
    title Aplicación de ejemplo - Charla sobre Scrum y GitHub
    link(rel="stylesheet" type="text/css" href="./css/bulma.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
  body
    section.hero.is-info.is-medium.is-bold
      div.hero-body
        div.container.has-text-centered
          h1.title Aplicación de ejemplo
          p.subtitle Hola #{data}
          //- img.sam-logo(src='sam')

    section.section
      form.container
        div.field
          label.label.is-medium(for="data") Introduzca un nombre
            div.control.has-icons-left
              input.input.is-medium(type="text" name="data" placeholder="Nombre")
              span.icon.is-small.is-left
                i.fas.fa-user
